@import "base_styles.scss";

/* Форма на первой странице (begin) */
.form__description {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 24px;

    margin-bottom: 20px;
}
/* Форма на первой странице (end) */
